html
	head
		title Chat Room
		link(rel="stylesheet", href="/stylesheets/style.css")
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
	body
		div.body-wrapper
			div.log-in
				h1 Chat Room
				form#submit-name
					input#name(type="text")
					button(type="submit") Enter

			div.users
				h2 Connected User
			div.message-box-wrapper
				div.message-box
				div.typing-container
				div#submit-message-container
					form#submit-message
						input#message(type="text")
						button(type="submit") Submit
	script(type="text/javascript" src="/socket.io/socket.io.js")
	script(type="text/javascript" src="/javascripts/script.js")
